h1{
    font-family: 'Snell Roundhand', cursive;
}

.btn {
    background-color: #ffffff;
    color: black;
    border: black solid 1px;
}

.btn:hover{
    background-color: black;
    color: white;
}
